{% extends "global/Page.html" %}

{% block title %}Part 1{% endblock %}
{% block content %}

    <p>
    Please write down adjectives (up to 20) that you think other students would perceive as feminine and masculine qualities or traits.
    </p>

    <p>
    We will ask the same question 99 other NYU students and form an inventory of 20 most popular characteristics. You will be paid extra 20 cents for each item on your list that will be among the 20 most popular ones.
    </p>

    <p>
        Please note that we are asking you to report what you believe <strong>others</strong> think about femininity and masculinity. It is also in your best interest to write down the 20 adjectives that you expect to be the most popular among other participants in the experiment (regardless of how accurately they reflect your personal views).
    </p>

    {% formfields %}

    {% next_button %}

{% endblock %}
