{% extends "global/Page.html" %}

{% block title %}Part 2{% endblock %}
{% block content %}

    <p>How feminine and how masculine do you think these people appear to other NYU students?</p>

    <p>Select a value from 1 (not feminine/masculine at all) to 100 (extremely feminine/masculine) by moving the sliders.</p>

    <p>We will ask the same question several other NYU students and calculate average (mean) femininity and masculinity scores for each portrait. If your score gets to be the closest to the average, you will be paid extra $1.</p>

    <p>Please note that we are asking you to report how feminine and masculine you think the portraits appear to <strong>others</strong>. It is also in your best interest to choose the numbers that you expect to be the closest to the average scores among other participants (regardless of how accurately they reflect your personal views).</p>

    <img id="your_photo" src="" width="500px"/>

    <h4>Femininity</h4>
    <p id="f_choice"></p>

    <div class="input-group">
        <input type="range"
               name="femininity_value"
               id="f_input_id"
               min="1" max="100" step="1"
               class="form-range">
    </div>

    <h4>Masculinity</h4>
    <p id="m_choice"></p>
    <div class="input-group">
        <input type="range"
               name="masculinity_value"
               id="m_input_id"
               min="1" max="100" step="1"
               class="form-range">
    </div>

    {% next_button %}

    <script>
        let yourPhoto = "{{ player.photo_this_round }}";
        let oldPathToPhoto = "{% static 'CFD/XXX' %}";
        let newPathToPhoto = oldPathToPhoto.replace("XXX", yourPhoto);
        document.getElementById("your_photo").src = newPathToPhoto;

        var femScore = document.getElementById("f_input_id");
        var masScore = document.getElementById("m_input_id");
        var femChoice = document.getElementById("f_choice");
        var masChoice = document.getElementById("m_choice");
        femChoice.innerHTML = "Your choice: " + femScore.value;
        masChoice.innerHTML = "Your choice: " + masScore.value;

        femScore.oninput = function() {
            femChoice.innerHTML = "Your choice: " + this.value.toString();
        }

        masScore.oninput = function() {
            masChoice.innerHTML = "Your choice: " + this.value.toString();
        }
    </script>

{% endblock %}
